* {
    box-sizing: border-box;
  }

:root {
  --primary: rgba(10, 10, 10, 0);
}

body {
  background: linear-gradient(#98e6fd, #7ea3f1);
  margin: 0;
}

header {
  display:flex;
  flex: 1;
  position: relative;
  padding: 40px;
  margin: 10px;
  margin-top: 50px;
  margin-left: 45px;
  text-align: center;
  background: linear-gradient(0.25turn, yellow, #ebf8e1, yellow);
  color: #fff;
}

header h1 {
  flex: 2;
  color: black;
  margin: 0px;
  padding: 0px;
  text-align:right;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(0.5turn, #ebf8e1, yellow, #ebf8e1);
  color: var(--primary);
  padding-right: 78px;
  margin: 2px;
  margin-right: 48px;
}

nav h2 {
  margin: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

aside {
  flex: 30%;
  position: absolute;
  top: 40px;
  right: 50px;
  height: 57vh;
  background: linear-gradient(0.5turn, #ebf8e1, yellow, #ebf8e1);
  padding: 20px;
  flex-wrap: wrap;
  max-width: 290px;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
}

footer {
  flex: 30%;
  background: linear-gradient(0.5turn, #ebf8e1, yellow, #ebf8e1);
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  margin-top: 52px;
  box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
}

footer h2{
  display: inline-block;
  text-align: left;
}

footer h3{
  display: inline;
  text-align: right;
  padding: 5px;
  margin: 5px;
}

#headshot {
  position: absolute;
  top: -45px;
  left: 90px;
  height: 244px;
  width: 229px;
  padding: 15px;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
}

.popUpMenu {
  display:none;
}

.projectCard {
  display: flex;
  position: relative;
  background: linear-gradient(353deg, yellow, #f588c4, #f8fccc);
  margin: 20px;
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  height: 170px;
  border: 5px ridge chartreuse;
  box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
}

.projectCard header {
  flex: 1;
  position: absolute;
  top: -72px;
  left: 50px;
  padding: 10px;
  border: 2px solid rgba(245, 118, 207, 1);
  background: linear-gradient(rgb(141, 228, 171), rgb(87, 233, 138));
  width: 199px;
}

.projectCard p {
  padding: 10px;
}


.projectPic1 {
  flex: 1;
  height: 190px;
  width: 150px;
  max-width: 290px;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
}

.projectPic2 {
  flex: 1;
  height: 190px;
  width: 150px;
  max-width: 183px;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  box-shadow: 12px 12px 2px 1px rgb(0 0 95 / 20%);
}

#headshot:hover {
  height: 274px;
  width: 259px;
}

header:hover {
  box-shadow: 0px -5px 5px black;
  transition: all 0.2s ease-out;
}

nav:hover {
  box-shadow: 0px -5px 5px black;
  transition: all 0.2s ease-out;
}

.projectCard:hover {
  box-shadow: 0px -5px 5px black;
  transition: all 0.2s ease-out;
}

.projectCard:hover header {
  top: -55px;
  transition: all 0.2s ease-out;
}

.projectCard:hover .projectPic1 {
  top: 5px;
  box-shadow: 0px -5px 5px black;
  transition: all 0.2s ease-out;
}

.projectCard:hover .projectPic2 {
  top: 5px;
  box-shadow: 0px -5px 5px black;
  transition: all 0.2s ease-out;
}

.projectPic1:hover {
  height: 230px;
  width: 330px;
  max-width: 330px;
}

.projectPic2:hover {
  height: 230px;
  width: 220px;
  max-width: 220px;
}

aside:hover {
  box-shadow: 0px -5px 5px black;
  height: 66vh;
  transition: all 0.2s ease-out;
}

footer:hover {
  box-shadow: 0px -5px 5px black;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 992px) {
  #headshot {
    left: 45px;
  }
  
  aside {
    flex: 1;
    position: relative;
    max-width: none;
    height: fit-content;
    margin: 5px;
    margin-top: 40px;
    padding: 2px;
    top: 0px;
    right: 0px;
  }
}

@media screen and (max-width: 768px) {
  #headshot {
    left: 0px;
  }

  nav {
    margin-top: 40px;
    padding-right: 2px;
  }

  nav h2 {
    margin-right: 5px;
  }
}